./venv
venv
__pycache__ 
./deep-person-reid
deep-person-reid
./videos
videos
./results
results
yolo8n.pt
.env
./matches
matches
./model
model
./zone_alerts
zone_alerts
./suspect_results
suspect_results
analytics_output
./analytics_output
evidence_clips
./evidence_clips